<h1>How to send mail message via set.messaging?</h1>
<p>
    first you need to contact with the administrator to <strong>get a token</strong>,<br />
    than with that token you can send emails.
</p>
<p>
    this service works over amazon web services and uses simple email service...
</p>
<p>
    you can see <a href="https://github.com/argeset/set-messaging" target="_blank">the code</a> @@ github!
</p>
<hr />
<br />
<pre>
POST /api/sendemail?to=hi@@example.com&subject=hi&htmlBody=message HTTP/1.1
Host: msg.setcrm.com
Authorization: {your-token}
Cache-Control: no-cache  
</pre>
<pre>
using (var client = new HttpClient())
{
    client.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));
    client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("a01b37988f914b35bb09eb229918135a");
    client.BaseAddress = new Uri("http://msg.setcrm.com/");

    var content = new FormUrlEncodedContent(new[]
    {
        new KeyValuePair&lt;string, string&gt;("to", "sample@mail.com"),
        new KeyValuePair&lt;string, string&gt;("subject", "test"),
        new KeyValuePair&lt;string, string&gt;("htmlBody", "&lt;html&gt;&lt;body&gt;test mesage&lt;/body&gt;&lt;/html&gt;")
    });
    var result = client.PostAsync("/Api/SendEmail", content).Result;
    var resultContent = result.Content.ReadAsStringAsync().Result;
}
</pre>