.error {
    color: red;
    padding: 5px;
}

#frm input {
    margin: 5px;
}

.nav li a {
    padding-left:10px;
    padding-right:10px;
}

.table thead {
    background: #5BC0DE;
    font-weight: bold;
}